.image_hor {
  width: 54.861vw;
}

.image_vert {
  width: 35.625vw;
}

.case_hor {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.case_vert {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 3.75vw;
}

@media screen and (max-width: 1439px) {
  .image_hor {
    width: 100%;
    padding: 3.646vw 0 3.125vw;
    order: 0;
  }

  .image_vert {
    width: 46.875vw;
    padding: 3.646vw 0 3.125vw;
    order: 0;
  }

  .case_hor {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }

  .case_vert {
    flex-direction: column;
    padding-left: 26.823vw;
    gap: 0;
    width: max-content;
  }
}

@media screen and (max-width: 767px) {
  .image_hor {
    padding: 7.467vw 0 8.533vw;
    height: 96vw;
    background-size: contain;
    background-position: 50%;
  }

  .image_vert {
    width: 100%;
    padding: 7.467vw 0 8.533vw;
    order: 0;
    height: 96vw;
  }


  .case_vert {
    padding-left: 0;
    width: 100%;
  }

  .case_vert > div {
    padding-left: 40px;
  }
}
