.photo {
  background-image: url(../../../images/vasya-min.png);
  background-size: cover;
  border-radius: 0.347vw;
  width: 3.056vw;
  height: 3.056vw;
}

.btn {
  padding: 0.347vw 2.222vw 0.347vw 0.347vw;
  background-color: var(--background-accent);
  display: flex;
  align-items: center;
  gap: 0.833vw;
  backdrop-filter: blur(3.611vw);
  border-radius: 0.694vw;
  width: max-content;
  position: fixed;
  right: 2.5vw;
  bottom: 2.5vw;
  /* top: 56.25vw; */
  z-index: 5;
  text-decoration: none;
}

.content {
  width: max-content;
}

.content::after {
  position: absolute;
  content: '';
  right: 2.2vw;
  bottom: 26.6%;
  display: block;
  width: 53.267%;
  height: 0.08vw;
  background: var(--text-primary-oncolor);
}

.content::after {
  width: 0;
  transition: 0.3s;
}
.btn:hover .content:after {
  width: 53.267%;
}

@media screen and (max-width: 1439px) {
  .photo {
    border-radius: 0.651vw;
    width: 5.729vw;
    height: 5.729vw;
  }

  .btn {
    padding: 0.651vw 3.776vw 0.651vw 0.651vw;
    gap: 1.5625vw;
    backdrop-filter: blur(6.771vw);
    border-radius: 1.302vw;
    right: 36.654vw;
    bottom: 3.125vw;
  }

  .content {
    width: max-content;
  }

  .content::after {
    position: absolute;
    content: '';
    right: 3.776vw;
    bottom: 26.6%;
    display: block;
    width: 15.104vw;
    height: 0.08vw;
    background: var(--text-primary-oncolor);
  }


  .btn:hover .content:after, .btn:active .content:after {
    width: 15.104vw;
  }
}
