.photo {
  background-image: url(../../../images/smallphotos/Вася.png);
  background-size: cover;
  border-radius: 0.347vw;
  width: 3.056vw;
  height: 3.056vw;
}

.btn {
  padding: 0.417vw 2.222vw 0.417vw 0.417vw;
  background-color: var(--background-accent);
  display: flex;
  align-items: center;
  gap: 0.833vw;
  backdrop-filter: blur(3.611vw);
  border-radius: 0.694vw;
  width: max-content;
  position: fixed;
  right: 2.5vw;
  bottom: 2.5vw;
  z-index: 5;
  text-decoration: none;
}

.content {
  width: max-content;
  position: relative;
}

.content::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -18%;
  display: block;
  width: 53.267%;
  height: 0.07vw;
  background: var(--text-primary-oncolor);
}

.content::after {
  width: 0;
  transition: width 0.3s;
}

.btn:hover .content:after, .btn:active .content:after {
  width: 100%;
}

.btn:active .content {
  color: var(--text-and-icons-primary-on-color-disabled);
}

.btn:active .content:after {
  background: var(--text-and-icons-primary-on-color-disabled);
}


@media screen and (max-width: 1024px) {
  .photo {
    border-radius: 0.651vw;
    width: 5.729vw;
    height: 5.729vw;
  }

  .btn {
    padding: 0.781vw 2.083vw 0.781vw 00.781vw;
    gap: 1.042vw;
    backdrop-filter: blur(6.771vw);
    border-radius: 1.302vw;
    right: 3.125vw;
    bottom: 3.125vw;
  }

  .content {
    width: max-content;
  }

  .content::after {
    position: absolute;
    content: '';
    right: 3.776vw;
    bottom: 26.6%;
    display: block;
    width: 15.104vw;
    height: 0.08vw;
    background: var(--text-primary-oncolor);
  }


  .btn:hover .content:after, .btn:active .content:after {
    width: 15.104vw;
  }
}
