.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8.333vw;
}

.schedule_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5.556vw;
}

.schedule_info {
  display: flex;
  gap: 8.611vw;
  padding-top: 1.389vw;
}

.left_column {
  display: flex;
  flex-direction: column;
  gap: 4.167vw;
  width: 50vw;
}

.tabloid_wrapper {
  display: flex;
  gap: 1.944vw;
}

.tabloid {
  display: flex;
  align-items: flex-end;
  gap: 0.694vw;
}

.tabloid p:last-of-type{
  width: 8.681vw;
}

.right_column {
  display: grid;
  grid-template-columns: repeat(2, 14.931vw);
  gap: 6.389vw 2.778vw;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.556vw;
}
