.card {
  display: flex;
  gap: 3.75vw;
}

.photo {
  /* width: 54.861vw; */
  width: 790px;
  height: 32.917vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.694vw;
  /* background-position: 0 50%; */
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.944vw;
}

@media screen and (max-width: 1439px) {
  .card {
    flex-direction: column;
    gap: 11.456vw;
  }

  .photo {
    /* width: 54.861vw; */
    width: 720px;
    height: 460px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1.302vw;
  }

  .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 1.944vw;
  }
}
