.card {
  display: flex;
  gap: 3.75vw;
  height: inherit;
}

.photo {
  min-width: 54.861vw;
  height: 32.917vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.694vw;
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.944vw;
}

@media screen and (max-width: 1024px) {
  .card {
    flex-direction: column;
    gap: 4.167vw;
  }

  .photo {
    width: 93.75vw;
    height: 65.104vw;
    border-radius: 1.302vw;
    background-position: 50%;
  }

  .data {
    gap: 3.646vw;
    width: 100%;
  }

  .info {
    width: 100%;
    gap: 2.083vw;
  }

}

@media screen and (max-width: 480px) {
  .card {
    gap: 21.333vw;
  }

  .photo {
    width: 92.533vw;
    height: 80vw;
    border-radius: 1.6vw;
    background-position: 50%;
  }

  .data {
    gap: 5.333vw;
  }

  .info {
    gap: 4.267vw;
  }

}
