.card {
  display: flex;
  justify-content: space-between;
  gap: 3.75vw;
}

.photo {
  width: 173.861vw;
  height: 32.917vw;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.694vw;
  /* background-position: 0 50%; */
}

.data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.944vw;
}
