.switcher {
  height: 3.611vw;
  display: flex;
}

.radio_input {
  display: none;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: background-color 250ms ease-in, color 250ms ease-in;
  width: 6.181vw;
  height: 3.611vw;
  box-sizing: border-box;
  cursor: pointer;
  border: 0.0894vw solid var(--background-accent);
}

.switcher .wrapper:first-child {
  border-top-left-radius: 0.694vw;
  border-bottom-left-radius: 0.694vw;
}

.switcher .wrapper:last-child {
  border-top-right-radius: 0.694vw;
  border-bottom-right-radius: 0.694vw;
}

.active {
  background-color: var(--background-accent);
}

.active .content {
  color: var(--text-primary-oncolor);
}

@media screen and (max-width: 1024px) {
  .switcher {
    height: 6.25vw;
  }

  .wrapper {
    width: 11.589vw;
    height: 6.25vw;
    border: 0.15vw solid var(--background-accent);
  }

  .switcher .wrapper:first-child {
    border-top-left-radius: 1.302vw;
    border-bottom-left-radius: 1.302vw;
  }

  .switcher .wrapper:last-child {
    border-top-right-radius: 1.302vw;
    border-bottom-right-radius: 1.302vw;
  }

}

@media screen and (max-width: 480px) {
  .switcher {
    height: 12.8vw;
    width: 100%;
  }

  .wrapper {
    width: 50%;
    height: 12.8vw;
    border: 0.267vw solid var(--background-accent);
  }

  .switcher .wrapper:first-child {
    border-top-left-radius: 2.667vw;
    border-bottom-left-radius: 2.667vw;
  }

  .switcher .wrapper:last-child {
    border-top-right-radius: 2.667vw;
    border-bottom-right-radius: 2.667vw;
  }

}

