.panel {
  display: flex;
  justify-content: space-between;
  gap: 6.894vw;
  position: absolute;
  top: 0;
  padding-bottom: 8.333vw;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 2.5vw;
  position: sticky;
  top: 5.556vw;
  left: 0;
  height: fit-content;
  min-width: 8.5417vw;

}

.content {
  display: flex;
  flex-direction: column;
  gap: 8.333vw;
}

@media screen and (max-width: 1024px) {
  .panel {
    gap: 7.8125vw;
    padding-bottom: 10.417vw;
  }

  .links {
    gap: 3.125vw;
    top: 10.417vw;
    min-width: 16.016vw;
  }

  .content {
    gap: 10.417vw;
  }

}

@media screen and (max-width: 480px) {
  .panel {
    display: block;
    padding-bottom: 21.333vw;
  }

  .content {
    gap: 21.333vw;
  }

}



