.title {
  width: 100%;
}

.wrapper {
  padding: 0 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 5.555vw;
}

.description {
  width: 27.083vw;
}

.flex_wrapper {
  display: flex;
  align-items: flex-end;
  gap: 9.9306vw;
}

@media screen and (max-width: 1024px) {

  .wrapper {
    padding: 0 3.125vw;
    display: flex;
    flex-direction: column;
    gap: 5.208vw;
  }

  .description {
    width: 44.271vw;
  }

  .flex_wrapper {
    gap: 5.208vw;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 3.733vw;
    gap: 9.6vw;
  }

  .description {
    width: 100%;
  }

  .flex_wrapper {
    flex-direction: column;
    align-items: flex-start;
    gap: 6.4vw;
  }
}
