.btn {
  display: flex;
  gap: 0.556vw;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  border: 0;
  display: flex;
  width: max-content;
  height: max-content;
  position: relative;
  cursor: pointer;
}

.icon {
  width: 2.222vw;
  height: 2.222vw;
}

.content {
  position: relative;
}

.btn:active .content {
  color: var(--text-secondary);
}

.btn:active .icon path {
  fill: var(--text-secondary);
}

.content::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -18%;
  display: block;
  height: 0.13vw;
  background: var(--text-primary);
}

.content::after {
  width: 100%;
  transition: 0.3s;
}

.btn:hover .content:after {
  width: 100%;
}

.btn:active .content:after {
  width: 100%;
  background-color: var(--text-secondary);
}

.invisible {
  display: none;
  position: absolute;
  bottom: 4.583vw;
  background-color: #f5f5f5;
  padding: 0.694vw;
  border-radius: 0.694vw;
  left: 100%;
  bottom: 75%;
  width: max-content;
}

.btn:hover .invisible {
  display: block;
}

.btn:active .invisible {
  display: block;
  color: var(--text-secondary);
}

@media screen and (max-width: 1024px) {
  .btn {
    gap: 0.78125vw;
    align-items: center;
  }

  .content {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: 16%;
  }


  .btn:hover .content:after,  .btn:active .content:after {
    width: 0;
  }

  .invisible {
    padding: 1.302vw;
    border-radius: 1.302vw;
    left: 100%;
    bottom: 75%;
  }

  .icon {
    width: 2.604vw;
    height: 2.604vw;
  }

}

@media screen and (max-width: 480px) {
  .btn {
    gap: 1.042vw;
  }

  .btn:active .invisible,
  .btn:hover .invisible {
    display: none;
  }

  .icon {
    width: 5.333vw;
    height: 5.333vw;
  }
}
