.btn {
  display: flex;
  gap: 0.556vw;
  align-items: center;
  background-color: transparent;
  text-decoration: none;
  border: 0;
  display: flex;
  width: max-content;
  height: max-content;
  position: relative;
  cursor: pointer;
}

.btn_black {
  background-color: var(--background-accent);
  border-radius: 0.694vw;
  padding: 0.833vw 1.389vw 0.833vw 0.694vw;
}

.icon {
  width: 2.222vw;
  height: 2.222vw;
}

.white, .small {
  width: 1.667vw;
  height: 1.667vw;
}

.white path {
  fill: var(--text-primary-oncolor);
}

.content {
  position: relative;
}


.btn:active .content {
  color: var(--text-secondary);
}

.btn:active .icon path {
  fill: var(--text-secondary);
}

.btn_black:active .content {
  color: var(--text-and-icons-primary-on-color-disabled);
}

.btn_black:active .icon path {
  fill: var(--text-and-icons-primary-on-color-disabled);
}

.content::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -18%;
  display: block;
  height: 0.1vw;
  background: var(--text-primary);
  will-change: transform;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
}

.btn_black .content::after {
  background: var(--text-primary-oncolor);
  height: 0.08vw;
  will-change: transform;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
}

.btn_small .content::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -18%;
  display: block;
  height: 0.08vw;
  background: var(--text-primary);
  will-change: transform;
  transform: scaleY(1);
  -webkit-transform: scaleY(1);
}

.content::after {
  width: 0%;
  transition: width 0.3s;
}

.btn:hover .content:after {
  width: 100%;
}

.btn:active .content:after {
  width: 100%;
  background-color: var(--text-secondary);
}

.btn_black:active .content:after {
  width: 100%;
  background-color: var(--text-and-icons-primary-on-color-disabled);
}

.invisible {
  opacity: 0;
  transition: 0.2s ease-in;
  width: max-content;
  height: max-content;
  padding: 0.556vw 1.111vw 0.833vw;
  background-color: #3d3d3d;
  backdrop-filter: blur(0.556vw);
  border-radius: 0.694vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.278vw;
  position: absolute;
  z-index: 6;
  top: -1.6vw;
  left: 50%;
  transform: translate(calc(-50% + 1.806vw), -50%);
  pointer-events: none;
}


.invisible::after {
  content: "";
  width: 1.944vw;
  height: 0.555vw;
  position: absolute;
  top: 98.8%;
  z-index: 5;
  background-repeat: no-repeat;
  background-color: #3d3d3d;
  mask: url("../../../images/Pointer.svg") no-repeat center;
  mask-size: contain;
  pointer-events: none;
}

.btn:hover .invisible {
  opacity: 1;
}


@media screen and (max-width: 1024px) {
  .btn {
    gap: 0.78125vw;
    align-items: center;
  }

  .btn_black {
    border-radius: 1.302vw;
    padding: 1.042vw 2.604vw 1.042vw 1.302vw;
  }

  .content {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: 16%;
  }


  .btn:hover .content:after,  .btn:active .content:after {
    width: 0;
  }

  .invisible {
    padding: 1.302vw;
    border-radius: 1.302vw;
    left: 100%;
    bottom: 75%;
  }

  .icon, .white {
    width: 2.604vw;
    height: 2.604vw;
  }

  .medium {
    width: 3.125vw;
    height: 3.125vw;
  }

}

@media screen and (max-width: 480px) {
  .btn {
    gap: 1.6vw;
  }

  .btn:active .invisible,
  .btn:hover .invisible {
    display: none;
  }

  .icon {
    width: 5.333vw;
    height: 5.333vw;
  }

  .btn_black {
    border-radius: 2.667vw;
    padding: 2.667vw 4.8vw 2.667vw 2.133vw;
  }
}
