.link {
  position: relative;
  width: max-content;
}
.link::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: 27.4%;
  display: block;
  width: 100%;
  height: 0.08vw;
  background: var(--text-primary);
}

.link::after {
  width: 0;
  transition: 0.3s;
}
.link:hover:after, .link:active:after {
  width: 100%;
}

.link:active {
  color: var(--text-secondary);
}

.link:active::after {
  background: var(--text-secondary);
}


@media screen and (max-width: 1439px) {
  .link::after {
    bottom: -29.4%;
    height: 0.32vw;
  }
}

@media screen and (max-width: 767px) {
  .link::after {
    height: 0.56vw;
    bottom: -16.4%;
  }
}



