.wrapper {
  display: grid;
  grid-template-columns: 15.486vw 35.625vw 36.389vw;
  gap: 3.75vw;
  padding: 9.722vw 2.5vw;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.667vw;
  width: 100%;
}

.text {
  width: 21.736vw;
}

.gap {
  padding-bottom: 0.556vw;
}

.photo_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 0.694vw;
  width: 22.292vw;
}

.photo {
  width: 4.444vw;
  height: 4.444vw;
  background-size: cover;
  border-radius: 50%;
  background-color: rgba(195, 195, 195, 0.3);
  backdrop-filter: blur(14.86vw);
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  padding-top: 0.138vw;
  color: inherit;
  text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: 14%;
}

.link:active {
  color: var(--text-secondary);
}

@media screen and (max-width: 1024px) {

  .wrapper {
    grid-template-columns: 52.083vw 39.0625vw 0fr;
    grid-template-rows: auto;
    gap: 3.125vw 2.604vw;
    padding: 5.208vw;
  }

  .wrapper p:first-of-type {
    grid-column: 1 / 4;
  }

  .column {
    gap: 2.344vw;
  }

  .text {
    width: 33.333vw;
  }

  .gap {
    padding-bottom: 0.5208vw;
  }

  .photo_wrapper {
    gap: 1.302vw;
    width: 100%;
  }

  .photo {
    width: 7.031vw;
    height: 7.031vw;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 5.222vw;
    padding: 10.667vw 3.733vw;
  }

  .column {
    gap: 4.267vw;
    width: 100%;
  }

  .photo_wrapper {
    gap: 2.667vw;
    width: 54.935vw;
    padding-top: 2.133vw;
  }

  .photo {
    width: 11.733vw;
    height: 11.733vw;
  }

  .gap {
    padding-bottom: 3.2vw;
  }

  .text {
    width: 100%;
  }
}
