

.form {
  background-color: var(--background-accent);
  display: flex;
  justify-content: space-between;
  padding: 8.333vw 15.278vw 8.333vw 2.5vw;
  margin-top: 6.944vw;
}


.info {
  display: flex;
  flex-direction: column;
  gap: 4.167vw;
  width: 43.472vw;
}

.workers {
  display: flex;
  flex-direction: column;
  gap: 1.528vw;
}

.photo_wrapper {
  display: flex;
  gap: 1.944vw;
}

.work_time {
  display: flex;
  flex-direction: column;
  gap: 1.111vw;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1.944vw;
  transition: opacity 0.15s ease 1ms;
}

.form_block {
  opacity: 1;
  transition: opacity 0.15s ease 1ms;
}

.fade_in {
  opacity: 1; /* Прозрачность при отображении */
}

.fade_out {
  opacity: 0; /* Прозрачность при скрытии */
}

.done {
  width: 5.556vw;
  height: 5.556vw;
  background-image: url(../../../images/icon/done.svg);
  background-size: cover;
}

.greeting {
  display: flex;
  flex-direction: column;
  gap: 1.389vw;
  padding-bottom: 1.528vw;
}


@media screen and (max-width: 1024px) {
  .form {
    padding: 10.417vw 3.125vw;
    margin-top: 10.417vw;
  }

  .info {
    gap: 5.208vw;
    width: 49.479vw;
  }

  .workers {
    gap: 3.125vw;
  }

  .photo_wrapper {
    gap: 2.083vw;
  }

  .work_time {
    gap: 2.083vw;
  }

  .column {
    gap: 3.125vw;
  }

  .done {
    width: 8.333vw;
    height: 8.333vw;
  }

  .greeting {
    gap: 1.823vw;
    padding-bottom: 0.521vw;
  }

}

@media screen and (max-width: 480px) {
  .form {
    padding: 21.333vw 3.733vw;
    flex-direction: column;
    margin-top: 21.333vw;
  }

  .title {
    width: 84.533vw;
  }

  .photo_wrapper {
    justify-content: space-between;
  }

  .info {
    gap: 10.667vw;
    width: 100%;
  }

  .workers {
    gap: 6.4vw;
    padding-top: 5.333vw;
  }

  .work_time {
    gap: 4.267vw;
    padding-top: 0;
  }

  .column {
    gap: 5.867vw;
  }

  .done {
    width: 17.067vw;
    height: 17.067vw;
  }

  .greeting {
    gap: 3.2vw;
    padding-bottom: 1.6vw;
  }

}

