.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.556vw;
}

.wrapper:last-of-type {
  margin-bottom: 0.1389vw;
}

.input {
  border-radius: 0.556vw;
  background-color: var(--background-input);
  padding: 1.111vw 0.694vw;
  border: 0;
  color: var(--text-primary-oncolor);
}

.input::placeholder {
  color: var(--text-and-icons-primary-on-color-disabled);
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 1439px) {
  .wrapper {
    gap: 1.0417vw;
  }

  .wrapper:last-of-type {
    margin-bottom: 0.261vw;
  }

  .input {
    border-radius: 1.0417vw;
    padding: 2.083vw 1.302vw;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    gap: 2.133vw;
  }

  .wrapper:last-of-type {
    margin-bottom: 0.533vw;
  }

  .input {
    border-radius: 2.133vw;
    padding: 4.267vw 2.667vw;
  }
}
