.card {
  width: 36.389vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1.389vw;
}

.title {
  width: 36.389vw;
}

.description {
  width: 20.833vw;
  padding-top: 1.389vw;
  white-space: pre-wrap;
}

.avatars_info {
  display: flex;
  justify-content: space-between;
}

.avatars {
  display: flex;
  gap: 0.695vw;
}

@media screen and (max-width: 1024px) {
  .card {
    width: auto;
    gap: 2.604vw;
  }

  .container {
    gap: 1.5625vw;
  }

  .title {
    width: 100%;
    padding-top: 0.521vw;
  }

  .description {
    width: 100%;
    padding-top: 0;
  }

  .avatars {
    gap: 0.781vw;
  }
}

@media screen and (max-width: 480px) {

  .card {
    gap: 5.333vw;
  }

  .container {
    gap: 3.2vw;
  }

  .title {
    padding-top: 0;
  }

  .avatars {
    gap: 1.6vw;
  }
}
