.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 13.889vw 2.5vw 0;
  box-sizing: border-box;
}

.col_left {
  width: 54.861vw;
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
}

.col_right {
  width: 36.389vw;
  display: flex;
  flex-direction: column;
  gap: 0.278vw;
}

.artifacts {
  padding-bottom: 0.694vw;
}

.title {
  white-space: pre-wrap;
}

@media screen and (max-width: 1439px) {
  .card {
    flex-direction: column;
    padding: 13.021vw 3.125vw 0;
    gap: 4.6875vw;
  }

  .col_left {
    width: 90%;
    gap: 3.125vw;
  }

  .col_right {
    width: auto;
    padding-left: 26.823vw;
    gap: 1.5625vw;
  }

  .artifacts {
    padding-bottom: 0.26vw;
  }

  .title {
    order: 2;
  }
}

@media screen and (max-width: 767px) {
  .card {
    padding: 26.667vw 3.733vw 0;
    gap: 9.6vw;
  }

  .col_left {
    width: 100%;
    gap: 5.333vw;
  }

  .text {
    padding-bottom: 5.333vw;
  }

  .col_right {
    width: auto;
    padding-left: 13.333vw;
    gap: 3.2vw;
  }

  .artifacts {
    padding-bottom: 0.533vw;
  }
}
