.card {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 13.889vw 2.5vw 0;
  box-sizing: border-box;
}

.col_left {
  width: 54.861vw;
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
}

.col_right {
  width: 36.389vw;
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
}


@media screen and (max-width: 1024px) {
  .card {
    flex-direction: column;
    padding: 10.417vw 3.125vw 0;
    gap: 5.208vw;
  }

  .col_left {
    width: 100%;
    gap: 3.125vw;
  }

  .col_right {
    width: auto;
    gap: 3.125vw;
  }


}

@media screen and (max-width: 480px) {
  .card {
    padding: 21.333vw 3.733vw 0;
    gap: 8.533vw;
  }

  .col_left {
    width: 100%;
    gap: 4.267vw;
  }

  .text {
    padding-bottom: 1.067vw;
  }

  .col_right {
    width: auto;
    gap: 5.333vw;
  }

}
