.info {
  display: flex;
  flex-direction: column;
}

.photo {
  width: 35.626vw;
  height: 29.861vw;
  background-position: center;
  background-size: cover;
  border-radius: 0.694vw;
}

.wrapper {
  display: flex;
  gap: 3.75vw;
}

.role {
  padding: 0.833vw 0 2.222vw;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.556vw;
}

@media screen and (max-width: 1024px) {
  .photo {
    width: 52.083vw;
    height: 40.495vw;
    border-radius: 1.302vw;
  }

  .wrapper {
    gap: 2.604vw;
  }

  .role {
    padding: 1.042vw 0 4.167vw;
  }

  .links {
    gap: 0.78125vw;
  }
}

@media screen and (max-width: 480px) {
  .photo {
    height: 80vw;
    width: 100%;
    background-position-x: 55%;
    border-radius: 2.667vw;
  }

  .wrapper {
    gap: 3.2vw;
    flex-direction: column;
  }

  .role {
    padding: 2.133vw 0 0;
  }

  .links {
    gap: 2.133vw;
  }

  .info {
    flex-direction: row;
    justify-content: space-between;
  }
}
