

.wrapper {
  width: 66.944vw;
  display: flex;
  flex-direction: column;
  gap: 4.167vw;
}

.info_container {
  display: flex;
  align-items: flex-end;
  gap: 15.763vw;
}

.description {
  width: 23.611vw;
}

.price {
  width: 13.889vw;
}


@media screen and (max-width: 1439px) {
  .wrapper {
    width: 67.188vw;
    gap: 5.208vw;
  }

  .info_container {
    gap: 4.688vw;
    align-items: flex-start;
  }

  .description {
    width: 31.25vw;
  }

  .price {
    width: 20.833vw;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    width: 100%;
    gap: 4.8vw;
  }

  .info_container {
    gap: 5.333vw;
    flex-direction: column;
  }

  .description {
    width: 100%;
  }

  .price {
    width: 100%;
  }
}
