.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4.167vw;
}

.columns {
  display: flex;
  gap: 2.778vw;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
  position: relative;
  transition: top 0.5s ease;
}

.column_offset {
  padding-top: 10.903vw;
  transition: top 0.8s ease;
}

.poster {
  width: 29.792vw;
  height: auto;
  display: block;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    gap: 5.208vw;
  }

  .columns {
    gap: 4.167vw;
  }

  .column {
    gap: 4.167vw;
  }

  .column_offset {
    padding-top: 43.359vw;
  }

  .poster {
    width: 44.661vw;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    gap: 9.6vw;
  }

  .columns {
    gap: 2.667vw;
    flex-direction: row;
    scrollbar-width: none;
    overflow-x: auto;           /* горизонтальная прокрутка */
  -webkit-overflow-scrolling: touch; /* плавный скролл на iOS */
  margin: 0 -3.733vw;            /* убираем боковые отступы, если есть */
  padding: 0 3.733vw;
  }

  .column {
    gap: 2.667vw;
    flex-direction: row;
  }

  .column_offset {
    padding-top: 0;
  }

  .poster {
    width: auto;
    height: 96vw;
  }
}
