.footer {
  padding: 6.944vw 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
}

.columns {
  display: grid;
  grid-template-columns: 15.486vw 35.625vw 36.389vw;
  gap: 3.75vw;
}

.photo_wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.556vw;
  padding-top: 3.333vw;
}

.creators {
  display: flex;
  flex-direction: column;
  gap: 1.111vw;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.9722vw;
}

.add_info {
  display: flex;
  flex-direction: column;
  gap: 2.986vw;
}

.social_privacy {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 0.556vw;
}

.privacy {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  align-items: end;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 7.031vw 3.125vw;
    gap: 3.125vw;
  }

  .columns {
    grid-template-columns: 31.35vw 37.63vw;
    justify-content: space-between;
  }


  .photo_wrapper {
    gap: 1.042vw;
    padding-top: 0;
  }

  .creators {
    gap: 2.083vw;
    padding-top: 0.521vw;
  }

  .info {
    gap: 4.688vw;
  }

  .add_info {
    gap: 1.042vw;
  }

  .social_privacy {
    flex-direction: column;
    gap: 0.781vw;
    align-items: end;
  }

  .social {
    display: grid;
    gap: 1.042vw 4.167vw;
    grid-template-columns: repeat(2, min-content);
  }

}

@media screen and (max-width: 480px) {
  .footer {
    padding: 14.4vw 3.733vw;
    gap: 13.867vw;
  }

  .columns {
    display: flex;
    flex-direction: column;
    gap: 8.267vw;
    width: 100%;
  }

  .info {
    gap: 4.8vw;
  }


  .social {
    display: flex;
    flex-direction: column;
    gap: 4.8vw;
  }

  .photo_wrapper {
    gap: 2.133vw;
    padding-top: 0;
    justify-content: flex-start;
  }

  .creators {
    gap: 3.2vw;
    padding-top: 8.533vw;
    align-self: center;
    text-align: center;
  }

  .center {
    text-align: center;
  }
}
