.review {
  width: 27.778vw;
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
}

.icon {
  width: 2.083vw;
  height: 2.083vw;
}

.photo {
  width: 3.056vw;
  height: 3.056vw;
  background-size: cover;
  border-radius: 50%;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 0.972vw;
}

.quote_text {
  height: 6.25vw;
}

.person {
  display: flex;
  gap: 0.833vw;
}

.person_info {
  display: flex;
  flex-direction: column;
  gap: 0.417vw;
}


@media screen and (max-width: 1024px) {
  .review {
    width: 42.969vw;
    gap: 5.208vw;
  }

  .icon {
    width: 3.125vw;
    height: 3.125vw;
  }

  .photo {
    width: 4.427vw;
    height: 4.427vw;
  }

  .quote {
    gap: 2.604vw;
  }

  .quote_text {
    height: auto;
  }

  .person {
    gap: 1.302vw;
  }

  .person_info {
    gap: 0.521vw;
  }
}

@media screen and (max-width: 480px) {
  .review {
    width: 100%;
    gap: 6.4vw;
  }

  .icon {
    width: 6.4vw;
    height: 6.4vw;
  }

  .photo {
    width: 9.067vw;
    height: 9.067vw;
  }

  .quote {
    gap: 4.267vw;
  }

  .person {
    gap: 2.133vw;
  }

  .person_info {
    gap: 1.067vw;
  }
}
