.avatar {
  width: 100%;
  display: flex;
  gap: 3.75vw;
  padding-top: 0.972vw;
}

.photo {
  width: 15.486vw;
  height: 15.486vw;
  border-radius: 50%;
  background-size: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.111vw;
}
