.avatar {
  width: 100%;
  display: flex;
  gap: 3.75vw;
  padding-top: 0.972vw;
}

.photo {
  width: 15.486vw;
  height: 15.486vw;
  border-radius: 50%;
  background-size: cover;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.111vw;
}

.avatar_s {
  width: 100%;
  display: flex;
  gap: 1.319vw;
}

.photo_s {
  width: 4.861vw;
  height: 4.861vw;
  border-radius: 50%;
  background-size: cover;
}

.info_s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.625vw;
}
