.video {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5.556vw;
  width: 100vw;
  /* position: sticky;
  bottom: 10px; */
}

.title {
  text-align: center;
  max-width: 69.167vw;
  padding: 1.667vw 0 2.778vw;
}


@media screen and (max-width: 1439px) {

  .wrapper {
    padding-top: 7.8125vw;
  }

  .title {
    text-align: center;
    max-width: 86.198vw;
    padding: 0 0 7.8125vw;
  }

}
