
.video {
  object-fit: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.reel {
  background-size: cover;
  width: 100%;
  height: 41.667vw;
  background-image: url(../../../../images/reel-min.png);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.666vw;
  width: 100vw;
}

.title {
  text-align: center;
  max-width: 69.167vw;
  padding: 0 0 2.778vw;
}

@media screen and (max-width: 1439px) {
  .wrapper {
    padding-top: 15.104vw;
  }

  .title {
    text-align: center;
    max-width: 86.198vw;
    padding: 0 0 7.8125vw;
  }

  .reel {
    height: 55.99vw;
    background-position: 50%;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding-top: 25.6vw;
  }

  .title {
    text-align: center;
    max-width: 86.198vw;
    padding: 0 0 7.467vw;
  }

  .reel {
    height: 89.067vw;
    background-image: url(../../../../images/reel-mobile-min.png);
  }
}
