.cases {
  display: flex;
  flex-direction: column;
  padding: 8.333vw 2.5vw 0;
  gap: 8.333vw;
}

.artifacts {
  display: flex;
  flex-direction: column;
  gap: 2.222vw;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.833vw;
}

.content {
  padding-bottom: 6.944vw;
}

@media screen and (max-width: 1024px) {
  .cases {
    padding: 10.417vw 3.125vw 0;
    gap: 10.417vw;
  }

  .artifacts, .links {
    flex-direction: row;
    gap: 2.604vw;
  }

  .content {
    padding: 0;
  }

}

@media screen and (max-width: 480px) {
  .cases {
    padding: 21.333vw 3.733vw 0;
    gap: 21.333vw;
  }

  .artifacts {
    gap: 2.667vw;
    flex-direction: column;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 2.667vw;
  }
}
