@font-face {
  src: url("./TT_Commons_Pro_Medium.ttf") format("truetype"),
  url("./TT_Commons_Pro_Medium.eot"),
  url("./TT_Commons_Pro_Medium.otf") format("opentype"),
    url("./TT_Commons_Pro_Medium.woff") format("woff"),
    url("./TT_Commons_Pro_Medium.woff2") format("woff2");
  font-family: "TT Commons Pro";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
