.image_hor_bg {
  width: 54.861vw;
  height: 40.556vw;
  background-size: cover;
  border-radius: 0.694vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image_hor {
  width: 45.903vw;
  height: 33.194vw;
  background-size: cover;
  transition: transform 0.3s ease-out;
}


.image_vert_bg {
  width: 35.625vw;
  height: 40.556vw;
  background-size: cover;
  border-radius: 0.694vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_vert {
  width: 16.667vw;
  height: 34.58vw;
  background-size: cover;
  transition: transform 0.3s ease-out;
}

.image_down {
  width: 33.333vw;
  height: 35.816vw;
  align-self: flex-end;
  background-size: cover;
  transition: transform 0.3s ease-out;
}

.image_hor_bg:hover .image_hor, .image_vert_bg:hover .image_vert {
  transform: scale(1.06);
}

.image_hor_bg:hover .image_down {
  transform: scale(1.14);
}

div.image_hor:hover, div.image_vert:hover, div.image_down:hover {
  transform: scale(1);
}


.case_hor {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.case_vert {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 3.75vw;
  position: relative;
}

@media screen and (max-width: 1439px) {
  .image_hor_bg, .image_vert_bg {
    width: 100%;
    height: 69.271vw;
    border-radius: 0.781vw;
  }

  .image_hor {
    width: 78.385vw;
    height: 56.771vw;
  }

  .image_vert {
    width: 30.99vw;
    height: 64.0625vw;
  }

  .image_down {
    width: 57.99vw;
    height: 63.0625vw;
  }

  .case_hor, .case_vert {
    flex-direction: column;
    width: 100%;
    gap: 2.604vw;
  }

}

@media screen and (max-width: 767px) {

  .image_hor_bg  {
    height: 68.267vw;
    border-radius: 2.667vw;
  }

  .image_vert_bg {
    height: 105.333vw;
    border-radius: 2.667vw;
  }

  .image_hor {
    width: 77.333vw;
    height: 56vw;
  }

  .image_vert {
    width: 46.933vw;
    order: 0;
    height: 97.6vw;
  }

  .image_down {
    width: 57.99vw;
    height: 63.0625vw;
  }

  .case_hor, .case_vert {
    gap: 5.333vw;
  }

}
