.form {
  background-color: var(--background-accent);
  display: flex;
  gap: 8.611vw;
  padding: 8.333vw 2.5vw 8.333vw 2.5vw;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 0.694vw;
  transition: opacity 0.15s ease 1ms;
}

.form_block {
  opacity: 1;
  transition: opacity 0.15s ease 1ms;
}

.fade_in {
  opacity: 1;
}

.fade_out {
  opacity: 0;
}

.done {
  width: 5.556vw;
  height: 5.556vw;
  background-image: url(../../../../images/icon/done.svg);
  background-size: cover;
}

.offset {
  padding-bottom: 2.083vw;
}

.greeting {
  display: flex;
  flex-direction: column;
  gap: 1.389vw;
  padding-bottom: 2.778vw;
}

.fixed_height {
  height: 39.306vw;
}

@media screen and (max-width: 1024px) {
  .form {
    gap: 7.8125vw;
    padding: 10.416vw 3.125vw;
  }

  .form_reverse {
    flex-direction: column;
    gap: 5.208vw;
  }

  .column {
    gap: 1.302vw;
    width: 36.198vw;
  }

  .done {
    width: 8.333vw;
    height: 8.333vw;
  }

  .offset {
    padding-bottom: 2.344vw;
  }

  .greeting {
    gap: 1.823vw;
    padding-bottom: 2.344vw;
  }

  .fixed_height {
    height: 51.823vw;
  }
}

@media screen and (max-width: 480px) {
  .form {
    gap: 10.667vw;
    padding: 21.333vw 3.733vw;
    flex-direction: column;
  }

  .form_reverse {
    flex-direction: column;
    gap: 10.667vw;
  }

  .column {
    gap: 2.667vw;
    width: 100%
  }

  .done {
    width: 17.067vw;
    height: 17.067vw;
  }

  .offset {
    padding-bottom: 8vw;
  }

  .greeting {
    gap: 3.2vw;
    padding-bottom: 4.8vw;
  }

  .fixed_height {
    height: 168.267vw;
  }
}
