@keyframes slideInFromTop {
  0% {
    transform: translateY(-200%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.25vw 2.5vw;
  box-sizing: border-box;
  height: 11.528vw;
  /* position: fixed; */
}

.animation {
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.main_header {
  position: fixed;
}

.nav_menu {
  display: flex;
  gap: 1.944vw;
}

.scroll {
  align-self: flex-end;
  position: absolute;
  left: 44.4%;
}

@media screen and (max-width: 1439px) {
  .header {
    padding: 2.0833vw 3.125vw;
    height: auto;
    align-items: center;
  }

  .nav_menu {
    display: flex;
    align-items: center;
    gap: 3.125vw;
  }

  .btn {
    background-image: url(../../../images/menu.svg);
    border: 0;
    background-color: transparent;
    width: 4.427vw;
    height: 4.427vw;
  }

  .link {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
  }

  .link:active, .link:hover {
    color: var(--text-secondary);
  }
}

@media screen and (max-width: 767px) {
  .header {
    padding: 4.267vw 3.733vw;
    position: fixed;
    z-index: 150;
    background-color: var(--background-primary);
  }

  .nav_menu {
    gap: 6.4vw;
  }

  .btn {
    width: 9.067vw;
    height: 9.067vw;
  }

}
