.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1.25vw 2.5vw;
  box-sizing: border-box;
}

.main_header {
  position: fixed;
}

.nav_menu {
  display: flex;
  gap: 1.944vw;
}

.scroll {
  align-self: flex-end;
  position: absolute;
  left: 44.4%;
}
