.wrapper {
  padding: 13.333vw 2.5vw 0;
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
}

.tabs {
  width: 100%;
  position: relative;
}

ul {
  height: min-content;
}

.tabs_list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.972vw;
  position: absolute;
  left: 1.667vw;
  bottom: 2.222vw;
}

.tab {
  position: relative;
}

.selected_tab::after {
  content: '';
  background-image: url(../../../../images/ellipse.svg);
  display: block;
  content: '';
  position: absolute;
  left: 25%;
  bottom: -10%;
  width: 2.083vw;
  height: 0.347vw;
  background-size: cover;
  z-index: 5;
}

.number {
  width: 4.444vw;
  height: 4.444vw;
  background-color: rgba(255, 255, 255, 0.30);
  backdrop-filter: blur(12px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

@media screen and (max-width: 1439px) {
  .wrapper {
    padding: 13.021vw 3.125vw 0;
    display: flex;
    flex-direction: column;
    gap: 5.208vw;
  }

  .tabs {
    width: 100%;
    position: relative;
  }

  .tabs_list {
    gap: 0.846vw;
    left: 0;
    top: 61.196vw;
  }


  .selected_tab::after {
    background-image: url(../../../../images/ellipse_grey.svg);
    left: 43.18%;
    bottom: -20%;
    width: 0.781vw;
    height: 0.781vw;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    padding: 26.667vw 3.733vw 0;
    gap: 10.667vw;
  }

  .tabs_list {
    gap: 1.6vw;
    top: 82.196vw;
  }

  .selected_tab::after {
    left: 43.18%;
    bottom: -30%;
    width: 1.6vw;
    height: 1.6vw;
  }
}
