.wrapper {
  padding: 13.333vw 2.5vw 0;
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
}

.tabs {
  width: 100%;
  position: relative;
}

.tabs_list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 0.972vw;
  position: absolute;
  left: 1.667vw;
  bottom: 2.222vw;
}

.tab {
  position: relative;
}

.selected_tab::after {
  content: '';
  background-image: url(../../../../images/ellipse.svg);
  display: block;
  content: '';
  position: absolute;
  left: 25%;
  bottom: -10%;
  width: 2.083vw;
  height: 0.347vw;
  background-size: cover;
  z-index: 5;
}

@media screen and (max-width: 1439px) {
  .wrapper {
    padding: 13.021vw 3.125vw 0;
    display: flex;
    flex-direction: column;
    gap: 5.208vw;
  }

  .tabs {
    width: 100%;
    position: relative;
  }

  .tabs_list {
    gap: 0.846vw;
    left: 0;
    top: 61.196vw;
  }

  .tab {
    position: relative;
  }

  .selected_tab::after {
    content: '';
    background-image: url(../../../../images/ellipse.svg);
    display: block;
    content: '';
    position: absolute;
    left: 25%;
    bottom: -10%;
    width: 2.083vw;
    height: 0.347vw;
    background-size: cover;
    z-index: 5;
  }
}
