.video_wrapper {
  position: fixed;
  z-index: 6;
  bottom: 7vw;
  right: 2.5vw;
  width: 36.389vw;
  height: 23.889vw;
}

.video {
  width: 100%;
  height: 100%;
  border-radius: 0.694vw;
  object-fit: cover;
}

.btn_wrapper {
  position: absolute;
  right: 2.222vw;
  top: 1.667vw;
  z-index: 10;
}

@media screen and (max-width: 1024px) {
  .video_wrapper {
    bottom: 3.125vw;
    right: 13.886vw;
    width: 68.229vw;
    height: 44.792vw;
  }

  .video {
    border-radius: 1.303vw;
  }

  .btn_wrapper {
    right: 4.167vw;
    top: 3.125vw;
  }
}
