.project {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
    padding: 1.667vw 0;
    border-top: solid 0.0694vw rgba(26, 26, 26, 0.12);
    border-collapse: collapse;
    width: 100%;
}

.project:last-child {
  border-bottom: solid 0.0694vw rgba(26, 26, 26, 0.12);
}

.left_column {
  width: 39.861vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right_column {
  width: calc(100% - 58.611vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags {
  width: 18.056vw;
}

.texts {
  width: 36.111vw;
}

@media screen and (max-width: 1024px) {
  .project {
    padding: 3.646vw 0;
    border-top: solid 0.15vw rgba(26, 26, 26, 0.12);
}

.project:last-child {
  border-bottom: solid 0.15vw rgba(26, 26, 26, 0.12);
}

.left_column {
  width: 42.969vw;
}

.right_column {
  width: calc(100% - 53.386vw);
}

.tags {
  width: 15.625vw;
}

.texts {
  width: 36.458vw;
}
}

@media screen and (max-width: 480px) {
  .project {
    padding: 6.4vw 0;
    border-top: solid 0.267vw rgba(26, 26, 26, 0.12);
    gap: 1.6vw;
    justify-content: flex-start;
    align-items: flex-start;
}

.project:last-child {
  border-bottom: solid 0.267vw rgba(26, 26, 26, 0.12);
}
.left_column {
  width: 10.667vw;
}

.right_column {
  width: 80.267vw;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.667vw;
}

.tags, .texts {
  width: 100%;
}

.texts {
  padding-bottom: 1.6vw;
}

}
