.page {
  display: grid;
  justify-content: center;
  align-items: end;
  padding: 3.472vw 0 4.681vw;
  height: calc(100vh - 3.472vw);
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.555vw;
}

.titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.222vw;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 0.972vw;
}

.wrapper_btn {
  align-self: end;
  justify-self: center;
}


@media screen and (max-width: 1439px) {
  .page {
    padding: 7.291vw 0 22.135vw;
    height: calc(100vh - 7.291vw);
  }

  .wrapper {
    gap: 10.417vw;
  }

  .titles {
    gap: 2.865vw;
  }

  .contacts {
    gap: 2.083vw;
  }
}

@media screen and (max-width: 767px) {
  .page {
    padding: 14.933vw 0 21.333vw;
    height: calc(100vh - 14.933vw);
  }

  .wrapper {
    gap: 16vw;
  }

  .titles {
    gap: 3.733vw;
  }

  .contacts {
    gap: 4.8vw;
  }
}
