.time_wrapper {
  display: flex;
  align-items: center;
  gap: 0.417vw;
}

.point {
  width: 1.111vw;
  height: 1.111vw;
}

@keyframes resize {
  0% {
    scale: 1;
  }
  75% {
    scale: 0.5;
  }
  100% {
    scale: 1;
  }
}



@keyframes resize_two {
  0% {
    scale: 0;
  }
  25% {
    scale: 0.857;
  }
  50% {
    scale: 1;
  }
  75% {
    scale: 0;
  }
  100% {
    scale: 0;
  }
}

@keyframes resize_three {
  0% {
    scale: 0;
  }
  25% {
    scale: 0;
  }
  50% {
    scale: 1;
  }
  75% {
    scale: 0;
  }
  100% {
    scale: 0;
  }
}


.point_one {
  animation: resize 1500ms ease-in-out infinite;
  transform-origin: center;
}

.point_two {
  animation: resize_two 1500ms ease-in-out infinite;
  transform-origin: center;
}

.point_three {
  animation: resize_three 1500ms ease-in-out infinite;
  transform-origin: center;
}

@media screen and (max-width: 1024px) {
  .time_wrapper {
    gap: 0.781vw;
    padding: 0 0 0;
  }

  .point {
    width: 2.083vw;
    height: 2.083vw;
  }
}

@media screen and (max-width: 480px) {
  .time_wrapper {
    gap: 1.6vw;
    padding: 0 0 0;
  }

  .point {
    width: 4.29vw;
    height: 4.29vw;
  }
}
