.wrapper {
  padding: 0 2.5vw;
  display: flex;
  flex-direction: column;
  gap: 2.778vw;
}

.projects {
  padding-top: 0.972vw;
}

.tabs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 5.1389vw;
}

.tabs_list {
  display: flex;
  gap: 2.222vw;
  padding: 0;
  margin: 0;
  list-style: none;
}

.statistic {
  display: grid;
  gap: 0.833vw 3.75vw;
  grid-template-columns: max-content min-content;
}

.tab {
  position: relative;
  display: flex;
  cursor: pointer;
}

.selected_tab {
  color: var(--text-primary);
}

.selected_tab p span {
  position: relative;
}

.selected_tab span::after {
  content: "";
  border-radius: 50%;
  background-color: var(--text-primary);
  display: block;
  content: "";
  position: absolute;
  left: 48%;
  bottom: -0.856vw;
  width: 0.417vw;
  height: 0.417vw;
  background-size: cover;
  z-index: 5;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 0 3.125vw;
    gap: 4.6875vw;
  }

  .projects {
    padding-top: 0.521vw;
  }

  .tabs_wrapper {
    gap: 10.156vw;
  }

  .tabs_list {
    gap: 4.167vw;
  }

  .statistic {
    gap: 1.5625vw 3.125vw;
  }

  .selected_tab span::after {
    left: 48%;
    bottom: -1.356vw;
    width: 0.781vw;
    height: 0.781vw;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 5.333vw 3.125vw 0;
    gap: 8.533vw;
  }

  .projects {
    padding-top: 1.067vw;
  }

  .statistic {
    gap: 2.667vw 6.4vw;
  }
}
