@keyframes slideInFromTop {
  0% {
    transform: translateY(-20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 15.486vw 35.625vw 36.389vw;
  gap: 3.75vw;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5.556vw;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 4.167vw;
  padding: 0 2.5vw;
  animation: 2s ease-out 0s 1 slideInFromTop;
}

.column {
  width: 22.639vw;
  display: flex;
  flex-direction: column;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.389vw;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:active {
  color: var(--text-secondary);
}

.gap {
  padding-top: 1.389vw;
  display: block;
}

@media screen and (max-width: 1439px) {
  .wrapper {
    grid-template-columns: 19.531vw 35.026vw 24.609vw;
    gap: 7.292vw;
  }

  .content {
    gap: 7.8125vw;
  }

  .container {
    gap: 4.167vw;
    padding: 0;
  }

  .column {
    width: 100%;
  }

  .info_wrapper {
    gap: 2.604vw;
    margin-left: 5.4vw;
    box-sizing: border-box;
  }

  .gap {
    padding-top: 3.125vw;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    gap: 5.469vw;
  }
}

@media screen and (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 5.333vw;
    width: 71vw;
  }

  .content {
    gap: 10.667vw;
  }

  .container {
    gap: 7.467vw;
    padding: 0 3.733vw;
  }

  .column {
    width: 100%;
    order: 2;
  }

  .info_wrapper {
    gap: 3.2vw;
    margin-bottom: 5.333vw;
    margin-left: 0;
    order: -1;
    padding: 0;
  }

  .gap {
    padding-top: 5.333vw;
  }

  .buttons {
    padding-left: 13.333vw;
    gap: 10.667vw;
  }
}
