.photo {
  width: 3.75vw;
  height: 3.75vw;
  background-size: cover;
  cursor: pointer;
}

.avatar {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.info {
  padding: 0.486vw 0 0.634vw;
  width: 7.292vw;
}

.invisible {
  opacity: 0;
}

.photo:before{
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  width: 3.75vw;
  height: 3.75vw;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
}

.photo:hover:before{
   opacity: 0.3;
}

.photo:hover ~ .invisible {
  opacity: 1;
}
