.photo {
  width: 3.75vw;
  height: 3.75vw;
  background-size: cover;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
}

.photo_m {
  width: 4.444vw;
  height: 4.444vw;
}

.avatar {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.info {
  padding: 0.486vw 0 0.634vw;
  width: 7.292vw;
}

.invisible {
  opacity: 0;
  position: absolute;
  bottom: 4.583vw;
}

.photo:before{
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
}

.photo:hover:before, .photo:active:before{
   opacity: 0.25;
}

.photo:hover ~ .invisible, .photo:active ~ .invisible {
  opacity: 1;
}

@media screen and (max-width: 1439px) {
  .photo {
    width: 4.427vw;
    height: 4.427vw;
  }

  .photo_m {
    width: 5.729vw;
    height: 5.729vw;
  }


  .photo:hover ~ .invisible, .photo:active ~ .invisible {
    opacity: 0;
  }
}

@media screen and (max-width: 767px) {
  .photo {
    width: 9.067vw;
    height: 9.067vw;
  }

  .photo_m {
    width: 11.733vw;
    height: 11.733vw;
  }
}

