.content {
  padding: 6.944vw 2.5vw 0;
}

.tabs_wrapper {
  padding-top: 4.167vw;
  display: flex;
  gap: 3.889vw;
  position: relative;
}

.tabs_list {
  padding: 0;
  list-style: none;
  display: flex;
  margin: 0;
}

.tab {
  padding: 1.111vw 1.667vw;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.694vw;
  cursor: pointer;
  position: relative;
  transition: background-color 250ms ease-in;
}

.tab_text {
  width: min-content;
  position: relative;
}

.tab:not(.selected_tab) .tab_text::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -19%;
  display: block;
  height: 0.1vw;
  background: var(--text-primary);
  width: 100%;
  will-change: transform;
  transform: scaleY(1);
}

.tab:not(.selected_tab) .tab_text::after {
  width: 0%;
  transition: 0.25s;
}
.tab:hover:not(.selected_tab) .tab_text::after, .tab:active:not(.selected_tab) .tab_text::after {
  width: 100%;
}

.tab:active:not(.selected_tab) .tab_text {
  color: var(--text-secondary);
}

.tab:active:not(.selected_tab) .tab_text::after {
  background: var(--text-secondary);
}

.selected_tab {
  background-color: var(--background-secondary);
}

.tab_pannel {
  opacity: 0;
  transition: opacity 250ms ease-in;
  position: absolute;
  top: 2.917vw;
}

.selected_tab_pannel {
  opacity: 1;

}
