:root {
  --background-accent: #1a1a1a;
  --background-primary: #fff;
  --background-secondary: rgba(26, 26, 26, 0.04);
  --background-primary-blur: rgba(255, 255, 255, 0.88);
  --background-input: rgba(255, 255, 255, 0.06);

  --text-primary: #1a1a1a;
  --text-primary-oncolor: #fff;
  --text-primary-oncolor-hover: rgba(255, 255, 255, 0.88);
  --text-primary-oncolor-inactive: rgba(255, 255, 255, 0.64);
  --text-secondary: rgba(26, 26, 26, 0.6);
  --text-secondary-oncolor: rgba(255, 255, 255, 0.64);
  --text-error: #ff2323;
  --text-disabled: rgba(26, 26, 26, 0.4);
  --text-and-icons-primary-on-color-disabled: rgba(255, 255, 255, 0.4);
}

html {
  width: 100vw;
  overflow-x: hidden;
}
 .ymaps-2-1-79-map {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: var(--background-primary);
  color: var(--text-primary);
  font-family: "TT Commons Pro";
}

body:after{
  display:none;
  content: url(./images/icon/checkActive.svg);
 }

 body::before{
  display:none;
  content: url(./images/icon/checkDefault.svg);
 }

path {
  stroke: inherit;
}

/* Typography classes */

.text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  font-family: "TT Commons Pro";
}

.text_type_h1 {
  font-size: 6.667vw;
  letter-spacing: -0.0694vw;
  line-height: 90%;
}

.text_type_h2 {
  font-size: 5.278vw;
  letter-spacing: -0.0694vw;
  line-height: 90%;
}

.text_type_h3 {
  font-size: 4.1667vw;
  letter-spacing: -0.0694vw;
  line-height: 90%;
}

.text_type_accent_l {
  font-size: 3.889vw;
  letter-spacing: -0.0694vw;
  line-height: 90%;
}

.text_type_accent_m {
  font-size: 3.0556vw;
  letter-spacing: -0.0694vw;
  line-height: 90%;
}

.text_type_accent_s {
  font-size: 2.7778vw;
  line-height: 90%;
}

.text_type_m {
  font-size: 1.667vw;
  letter-spacing: -0.0625vw;
  line-height: 90%;
}

.text_type_s {
  font-size: 1.389vw;
  letter-spacing: -0.0347vw;
  line-height: 100%;
}

.text_type_xs {
  font-size: 1.111vw;
  letter-spacing: -0.0487vw;
  line-height: 90%;
}

@media screen and (max-width: 1024px) {
  .text_type_h1 {
    font-size: 7.8125vw;
    letter-spacing: -0.1302vw;
    line-height: 90%;
  }

  .text_type_h2 {
    font-size: 6.51vw;
    letter-spacing: -0.1302vw;
    line-height: 90%;
  }

  .text_type_h3 {
    font-size: 5.469vw;
    letter-spacing: -0.1302vw;
    line-height: 90%;
  }

  .text_type_accent_l {
    font-size: 5.208vw;
    letter-spacing: -0.1302vw;
    line-height: 90%;
  }

  .text_type_accent_m {
    font-size: 4.427vw;
    letter-spacing: -0.1302vw;
    line-height: 90%;
  }

  .text_type_accent_s {
    font-size: 3.645vw;
    line-height: 90%;
  }

  .text_type_m {
    font-size: 2.604vw;
    letter-spacing: -0.117vw;
    line-height: 90%;
  }

  .text_type_s {
    font-size: 2.083vw;
    letter-spacing: -0.065vw;
    line-height: 100%;
  }

  .text_type_xs {
    font-size: 1.823vw;
    letter-spacing: -0.091vw;
    line-height: 90%;
  }
}

@media screen and (max-width: 480px) {
  .text_type_h1 {
    font-size: 11.733vw;
    letter-spacing: -0.133vw;
    line-height: 90%;
  }

  .text_type_h2 {
    font-size: 9.067vw;
    letter-spacing: -0.267vw;
    line-height: 90%;
  }

  .text_type_h3 {
    font-size: 8.533vw;
    letter-spacing: -0.267vw;
    line-height: 90%;
  }

  .text_type_accent_l {
    font-size: 8vw;
    letter-spacing: -0.267vw;
    line-height: 90%;
  }

  .text_type_accent_m {
    font-size: 6.933vw;
    letter-spacing: -0.267vw;
    line-height: 90%;
  }

  .text_type_accent_s {
    font-size: 6.4vw;
    line-height: 90%;
  }

  .text_type_m {
    font-size: 5.333vw;
    letter-spacing: -0.24vw;
    line-height: 90%;
  }

  .text_type_s {
    font-size: 4.267vw;
    letter-spacing: -0.133vw;
    line-height: 100%;
  }

  .text_type_xs {
    font-size: 3.733vw;
    letter-spacing: -0.187vw;
    line-height: 90%;
  }
}

.text_color_primary {
  color: var(--text-primary);
}

.text_color_accent {
  color: var(--text-primary-oncolor);
}

.text_color_secondary_accent {
  color: var(--text-secondary-oncolor);
}

.text_color_inactive {
  color: var(--text-primary-oncolor-inactive);
}

.text_color_secondary {
  color: var(--text-secondary);
}

.text_color_tertiary {
  color: var(--text-tertiary);
}

.text_color_error {
  color: var(--text-error);
}

.text_color_true {
  color: var(--text-accent);
}

.spacing {
  white-space: pre-wrap;
}
