.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding: 8.333vw 2.5vw 0;
}

.tabs_wrapper {
  padding-top: 2.777vw;
  display: flex;
  gap: 3.889vw;
}

.tabs_list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 15.278vw;
}

.tab {
  padding: 1.111vw 1.667vw;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.694vw;
}

.selected_tab {
  background-color: var(--background-secondary);
}

@media screen and (max-width: 1439px) {
  .wrapper {
    padding: 13.021vw 3.125vw 0;
  }

  .tabs_wrapper {
    padding-top: 5.208vw;
    gap: 7.292vw;
  }

  .tabs_list {
    width: 19.531vw;
  }

  .tab {
    padding: 1.5625vw 2.083vw;
    border-radius: 1.302vw;
  }
}

