.content {
  padding: 7.639vw 0 0;
  display: flex;
  flex-direction: column;
  gap: 13.889vw;
}

.cases {
  display: flex;
  flex-direction: column;
  padding: 0 2.5vw 0;
  gap: 8.333vw;
}

.case_statistic {
  display: grid;
  gap: 0.694vw 1.666vw;
  grid-template-columns: max-content min-content;
}

@media screen and (max-width: 1024px) {
  .cases {
    padding: 0 3.125vw 0;
    gap: 13.021vw;
  }

  .content {
    padding: 7.815vw 0 0;
    gap: 13.021vw;
  }
}

@media screen and (max-width: 480px) {
  .cases {
    padding: 26.667vw 3.733vw 0;
    gap: 26.667vw;
  }
}
