.content {
  padding: 7.639vw 0 6.944vw;
  display: flex;
  flex-direction: column;
  gap: 8.333vw;
}

.cases {
  display: flex;
  flex-direction: column;
  padding: 0 2.5vw 0;
  gap: 8.333vw;
}


@media screen and (max-width: 1024px) {
  .cases {
    padding: 0 3.125vw 0;
    gap: 10.417vw;
  }

  .content {
    padding: 13.802vw 0 2.604vw;
    gap: 10.417vw;
  }
}

@media screen and (max-width: 480px) {
  .cases {
    padding: 0 3.733vw 0;
    gap: 21.333vw;
  }

  .content {
    padding: 25.6vw 0 0;
    gap: 16vw;
  }
}
