.wrapper {
  padding: 13.889vw 2.5vw 0;
  display: flex;
  flex-direction: column;
  gap: 3.75vw;
}

.container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1024px) {
  .wrapper {
    padding: 10.417vw 3.125vw 0;
    gap: 3.125vw;
  }

  .title {
    padding-bottom: 2.083vw;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 21.333vw 3.733vw 0;
    gap: 9.6vw;
  }

  .title {
    padding-bottom: 0;
  }

}
