.news {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  padding: 1.806vw 0;
  border-top: solid 1px rgba(26, 26, 26, 0.12);
  border-collapse: collapse;
  position: relative;
}

.news:last-child {
  border-bottom: solid 1px rgba(26, 26, 26, 0.12);
}

.wrapper {
  display: flex;
  gap: 3.75vw;
  align-items: center;
}

.icon {
  width: 2.5vw;
  height: 2.5vw;
  background-size: cover;
}

.title {
  width: 33.92vw;
}

.invisible {
  opacity: 0;
}

.news:hover .invisible {
  opacity: 1;
}

.under {
  text-decoration: none;
  background: linear-gradient(var(--text-primary), var(--text-primary)) no-repeat;
  background-size: 100% 2vw;
  background-position: 0 1.90vw;
}

.under {
  background-size: 0 2vw;
  transition: 0.5s;
}
.news:hover .under {
  background-size: 100% 2vw;
}

@media screen and (max-width: 1439px) {
  .news {
    padding: 2.0833vw 0;
  }

  .wrapper {
    flex-direction: column;
  }

  .icon {
    width: 4.688vw;
    height: 4.688vw;
    background-size: cover;
  }

  .title {
    width: 49.92vw;
  }


  .under {
    background-size: 0 2vw;
    background-position: 0 3vw;
  }

  .news:hover .under {
    background-size: 100% 0.2vw;
  }

  .date {
    padding-top: 2.604vw;
  }
}
