@keyframes slideInFromTop {
  0% {
    transform: translateY(40%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation {
  animation: 0.3s ease-out 0s 1 slideInFromTop;
}

.news {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  padding: 1.806vw 0;
  border-top: solid 0.0694vw rgba(26, 26, 26, 0.12);
  border-collapse: collapse;
  position: relative;
  opacity: 1;
}

.news:last-child {
  border-bottom: solid 0.0694vw rgba(26, 26, 26, 0.12);
}

.wrapper {
  display: flex;
  gap: 1.111vw;
  align-items: center;
}

.news_data {
  display: flex;
  gap: 4.167vw;
}

.authors {
  display: flex;
  align-items: start;
  gap: 0.416vw;
}

.icon {
  width: 2.5vw;
  height: 2.5vw;
  background-size: cover;
}

.title {
  width: 58.333vw;
}

.under {
  text-decoration: none;
  background: linear-gradient(var(--text-primary), var(--text-primary)) no-repeat;
  background-position: 0 1.90vw;
}

.under {
  background-size: 0 0.1vw;
  transition: 0.4s ease-out;
}

.news:hover .under {
  background-size: 100% 0.1vw;
}

.news:active {
  color: var(--text-secondary);
}

.news:active .under {
  background: linear-gradient(var(--text-secondary), var(--text-secondary)) no-repeat;
  color: var(--text-secondary);
  background-size: 100% 0.1vw;
  background-position: 0 1.90vw;
}

@media screen and (max-width: 1439px) {
  .news {
    padding: 2.865vw 0;
    border-top: solid 0.1302vw rgba(26, 26, 26, 0.12);
    align-items: flex-start;
  }

  .news:last-child {
    border-bottom: solid 0.1302vw rgba(26, 26, 26, 0.12);
  }

  .news_data {
    flex-direction: column;
    gap: 1.8229vw;
  }

  .wrapper {
    gap: 1.042vw;
  }

  .authors {
    align-items: center;
    gap: 0.781vw;
  }

  .name {
    margin-right: 0.781vw;
  }

  .icon {
    width: 3.125vw;
    height: 3.125vw;
  }

  .title {
    width: 70.3125vw;
  }

  .news:hover .under {
    background-size: 0 0;
  }


}

@media screen and (max-width: 767px) {
  .news {
    padding: 5.333vw 0;
    border-top: solid 0.267vw rgba(26, 26, 26, 0.12);
  }

  .news:last-child {
    border-bottom: solid 0.267vw rgba(26, 26, 26, 0.12);
  }

  .news_data {
    gap: 4.267vw;
    width: 100%;
  }

  .wrapper {
    align-self: flex-end;
    gap: 2.133vw;
  }

  .icon {
    width: 6.4vw;
    height: 6.4vw;
  }

  .title {
    width: 100%;
  }

  .authors {
    gap: 1.6vw;
  }

  .name {
    margin-right: 1.6vw;
  }

  .info {
    display: flex;
    justify-content: space-between;
  }

}
