.content {
  padding: 7.639vw 0 6.944vw;
  display: flex;
  flex-direction: column;
  gap: 4.167vw;
}

.map {
  width: 100%;
  height: 38.194vw;
}


.persons {
  padding: 0 2.5vw;
  display: grid;
  grid-template-columns: 15.486vw 75.764vw;
  gap: 3.75vw;
}

.persons_wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.75vw;
}


@media screen and (max-width: 1024px) {
  .content {
    padding: 12.5vw 0 2.604vw;
    gap: 7.8125vw;
  }

  .map {
    width: 100%;
    height: 52.083vw;
  }

  .persons {
    padding: 0 3.125vw;
    display: flex;
    flex-direction: column;
    gap: 3.125vw;
  }

  .persons_wrapper {
    gap: 7.031vw;
  }

}

@media screen and (max-width: 480px) {
  .content {
    padding: 24.533vw 0 0;
    gap: 10.667vw;
  }

  .map {
    width: 100vw;
    height: 80vw;
  }

  .persons {
    padding: 0 3.733vw;
    gap: 5.333vw;
  }

  .persons_wrapper {
    gap: 9.6vw;
  }

}
